/*Start Nav*/
.navbar-brand
{
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
    font-family: cursive
}
li 
{
    font-size: 16px;
    margin-left: 8px;
    font-style: italic;
    font-family: cursive
}
.navbar {
    background-color: #333333;
    height: 50px;
    text-align: center;
}

.nav-link:hover
{
    background-color:#127687;
    border-radius: 5px;
}

/*End Nav*/
.container.one{
    height: 734px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 60%;
    box-sizing: content-box;
    padding: 50px;
    border-radius: 3px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: white;
    box-shadow: 8px 8px 13px #3f3f3f;
}
.row{
    margin-top: 25px 
}
.row.info{
    margin-top: 25px;
}
.row.h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row.h4 h3{
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 3px 3px 5px #c6c6c6;
    text-transform: uppercase;
}
.col h6{
    padding-top: 6px;
    margin-left: 10px;
}
.row.tic{
    border: 10px double black;
    padding: 10px;
}